nav {
	margin-left: auto;
	
	ul {
		display: flex;
		justify-content: space-between;
		list-style: none;
		
		li {
			&:not(:first-child) {
				margin-left: 1rem;
			}
			
			a {
				font-size: 0.9rem;
				font-weight: 500;
				text-decoration: none;
			}
		}
	}
}