<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en-IN" }}">
{%- include "head.html" -%}
<body class="{% if style %}{{ style }} {% endif %}blog">
  {%- include "blogHeader.html" -%}
  <main>
    {%- if pagination.items.length > 0 -%}
    <ul class="post-list">
      {%- for post in pagination.items -%}
      <hr />
      <li class="container readable"><div>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <h3>
          <a class="post-link" href="{{ post.url | absolute_url }}">
            {{ post.data.title | escape }}
          </a>
        </h3>
        <small class="post-meta">{{ post.date | date: date_format }}</small>
        {{ post.content | truncatewords: 50 }}
      </div></li>
      {%- endfor -%}
    </ul>
    {% if pagination.pages.length > 1 %}
    <!-- Pagination links -->
    <div class="container readable pagination">
      {% if pagination.href.previous %}
        <a href="{{ pagination.href.previous }}" class="previous">Previous</a>
      {% endif %}
      <span class="page_number ">Page {{ pagination.pageNumber | plus: 1 }} of {{ pagination.pages.length }}</span>
      {% if pagination.href.next %}
        <a href="{{ pagination.href.next }}" class="next">Next</a>
      {% endif %}
    </div>
    {% endif %}
    {%- endif -%}
  </main>
  <div class="container readable" id="blog-footer-rss">
    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | absolute_url }}">via RSS</a></p>
  </div>
  <div class="container readable">
    {%- include "footer.html" -%}
  </div>
  {%- include "blogStyler.html" -%}
</body>
</html>