<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en-IN" }}">
{%- include head.html -%}
<link rel="me" href="https://social.dezinezync.com/@elytra" />
<body class="{% if page.style %}{{ page.style }}{% endif %}">
  {%- include nav.html -%}
  <header>
    <div class="container">
      <picture id="appicon">
        <img src="/assets/images/home/appicon.png" srcset="/assets/images/home/appicon@2x.png 2x, /assets/images/home/appicon@3x.png 3x" width="170" height="170"/>
      </picture>
      <hgroup>
        <h1 class="section-header-xl">Elytra</h1>
        <h2 class="subhead">{{ site.description }}</h2>
      </hgroup>
    </div>

    <picture id="home-hero">
      <source media="(max-width: 600px) and (prefers-color-scheme: light)" srcset="/assets/images/home/screens-400w.png 1x, /assets/images/home/screens-800w.png 2x, /assets/images/home/screens-1600w.png 3x">
      <source media="(min-width: 601px) and (max-width: 800px) and (prefers-color-scheme: light)" srcset="/assets/images/home/hero-800w.png 1x, /assets/images/home/screens-1600w.png 2x, /assets/images/home/screens@3x.png 3x">
      <source media="(max-width: 600px) and (prefers-color-scheme: dark)" srcset="/assets/images/home/screens-dark-400w.png 1x, /assets/images/home/screens-dark-800w.png 2x, /assets/images/home/screens-dark@2x.png 3x">
      <source media="(min-width: 601px) and (max-width: 800px) and (prefers-color-scheme: dark)" srcset="/assets/images/home/screens-dark-800w.png 1x, /assets/images/home/screens-dark@2x.png 2x">
      <source media="(prefers-color-scheme: dark)" srcset="/assets/images/home/hero-dark.png 1x, /assets/images/home/screens-dark@2x.png 2x, /assets/images/home/screens-dark@3x.png 3x">
      <img src="/assets/images/home/screens.png" srcset="/assets/images/home/screens@2x.png 2x, /assets/images/home/screens@3x.png 3x" width="1514" height="533" alt="Elytra's timeline and article reader displayed on iPad, iPhone and macOS."/>
    </picture>
  </header>
  <main>
    {{ content }}
  </main>

  {%- include support.html -%}

  {%- include footer.html -%}
</body>
</html>