body {
	line-height: 1.4;
	background: rgb(252,252,250);
	background: -apple-system-background;
}

a {
	color: rgb(0, 122,255);
	color: -apple-system-blue;
	text-decoration: none;
	transition: color 0.2s ease-in;

	&:hover {
		color: blue;
    	color: -webkit-link;
	}
	
	&:visited {
		color: visitedtext;
	}
}

p, blockquote {
	a {
		text-decoration: none;
	}
}

body > * {
	width: 100%;
	max-width: 640px;
	max-width: 64ch;
	margin: 0 auto;
}

@media only screen and (max-width:768px) {
	body > * {
		padding-left: 2rem;
		padding-right: 2rem;
	}	
}